@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-1: #e6f7ff;
  --primary-2: #bae7ff;
  --primary-3: #91d5ff;
  --primary-4: #69c0ff;
  --primary-5: #40a9ff;
  --primary-6: #1890ff;
  --primary-7: #096dd9;
  --primary-color: var(--primary-6);
  --primary-color-hover: var(--primary-5);
  --primary-color-active: var(--primary-7);
  --primary-color-outline: rgba(24, 144, 255, 0.2);
  --success-color: #52c41a;
  --success-color-hover: #73d13d;
  --success-color-active: #389e0d;
  --success-color-outline: rgba(82, 196, 26, 0.2);
  --error-color: #ff4d4f;
  --error-color-hover: #ff7875;
  --error-color-active: #d9363e;
  --error-color-outline: rgba(255, 77, 79, 0.2);
  --warning-color: #faad14;
  --warning-color-hover: #ffc53d;
  --warning-color-active: #d48806;
  --warning-color-outline: rgba(250, 173, 20, 0.2);

  /* 这里放我们全局的主题变量 */
  /* 注意,tailwind.cofnig.ts中的变量也要更新 */
  /* Put our global theme variables here */
  /* basic color */
  --basic-color-primary: #e91100;
  --basic-color-primary-deep: #c91103;
  --basic-color-danger: #ff382c;
  --basic-color-white: #fff;
  --basic-color-dark: #000;

  --bg-color-lightGrey: #f4f6fb;
  /* #f4f6fb; */
  /* #e9ecf5; */
  /* #f8f9ff; */
  /* font color */
  --font-color-main: #31373d;
  --font-color-second: #5f6975;
  --font-color-accent: #9fa5ac;
}

@font-face {
  font-family: "Inter";
  src: url("/Inter.ttf") format("truetype");
  font-display: swap;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color-lightGrey);
  color: var(--font-color-second);
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: "Inter";
}
